<h3>
    <a href="/usuarios">usuarios</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="usuario">usuario</label>
    <input required id="usuario" type="text" class="form-control" name="usuario" size="30"/>
</div><div class="form-group">
    <label for="nombre">nombre</label>
    <input required id="nombre" type="text" class="form-control" name="nombre" size="30"/>
</div><div class="form-group">
    <label for="direcion">direcion</label>
    <input required id="direcion" type="text" class="form-control" name="direcion" size="30"/>
</div><div class="form-group">
    <label for="telefono">telefono</label>
    <input required id="telefono" type="text" class="form-control" name="telefono" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>